html{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: sans-serif;
}
p{
    font-size: 20px;
    color: #000;
}

body {
    line-height: 1;
    background-color: rgb(43, 42, 42);
}

div{
    margin: 0;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 300px;
    border-radius: 4px;
}

img{
    width: 120px;
    height: auto;
    top: 30px;
    left: 200px;
    position: relative;
}

p{
    top: 45px;
    left: 160px;
    position: relative;
    color: gray;
}

button{
    width: 70px;
    height: 30px;
    top: 70px;
    left: 410px;
    position: relative;
    background-color: rgb(68, 196, 247);
    border-radius: 4px;
    color: #fff;
    border: none;
}

button:hover{
    background-color: rgb(229, 237, 240);
    color: rgb(68, 196, 247);
}